<div class="exception-body accessdenied-page">
    <div class="exception-type">
        <img src="assets/layout/images/401.svg" />
    </div>

    <div class="card exception-panel">
        <i class="pi pi-lock"></i>
        <h1>Akses ditolak</h1>
        <div class="exception-detail">
            Anda tidak diizinkan untuk mengakses halaman ini.
        </div>
        <p-button
            label="Beranda"
            [routerLink]="['/']"
            styleClass="p-button-secondary"
        ></p-button>
    </div>
</div>
