$primaryColor: #673ab7;
$primaryDarkColor: #4527a0;
$primaryLightColor: #b39ddb;
$primaryTextColor: #ffffff;
$accentColor: #00bcd4;
$accentDarkColor: #00838f;
$accentLightColor: #80deea;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #00bcd4;
$lightMenuRouterLinkActiveColor: #673ab7;
$horizontalLightMenuRouterLinkActiveColor: #00bcd4;

@import "../../sass/layout/_layout";
