$primaryColor: #202020;
$primaryDarkColor: #181818;
$primaryLightColor: #313131;
$primaryTextColor: #ffffff;
$accentColor: #d10000;
$accentDarkColor: #900808;
$accentLightColor: #ff0000;
$accentTextColor: #ffffff;
$darkMenuBgColor: #0e2031;
$darkMenuHoverColor: #5b6976;
$darkMenuRouterLinkActiveColor: #ffffff;
$lightMenuRouterLinkActiveColor: #ffffff;
$horizontalLightMenuRouterLinkActiveColor: #313131;

@import "../../sass/layout/_layout";
